body {
    width: 1280px;
    font-family: "Roboto Light", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.title {
    margin-top: 60px;
    margin-bottom: 40px;
}

.title-link {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
}

.title-color {
    color: #4BCAFF;
}

.menu-header {
    display: flex;
    justify-content: space-around;
    height: 73px;
    padding-top: 0;
    margin-bottom: 0;
    background: #35444f;
}

.navigation-items {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    padding: 26px 38px 19px;
    border-left: solid 1px #ffffff;

}
.navigation-items:hover {
    background: #222f3a;
}


.navigation-items:last-child {
    border: 1px solid #FFFFFF;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 0;
    flex-direction: row;

}

.aside-link {
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;

}

.aside-item {
    display: inline-block;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 341px;

}
.aside-item:hover {
    padding-left: 5px;
    background: #DBDBDB;
}

.image-container {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;

}

.text-content {
    width: 885px;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: #2C2C2C;
    margin-bottom: 34px;
    height: 120px;

}

.main-content {
    width: 885px;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: #2C2C2C;
    height: 109px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);

}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 875px;
    height: 28px;

}

.footer-item {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;

}

.footer-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;

}

.color-footer {
    color: #3181a6;
    text-decoration: underline;
}


